 /* .header--standard .header__content-center{
  max-width:700px;
 } 
 .header--standard .ps-form--quick-search{
  width:700px;
}  */

.defaultColor{
  color: var(--main-bg-color)!important;
}

.header--standard .header__content .ps-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
}


.ps-btn, button.ps-btn {
  background-color: var(--main-bg-color);
  color: #ffffff;
}

.ps-btn:hover, button.ps-btn:hover {
  background-color: #000;
}

.btn-sm{
  padding: 10px 24px!important;
  font-size: 14px!important;
}

.btn-xs{
  font-size: 14px!important;
  padding: 5px 10px!important;
}

.menu--autopart > li > a {
  text-transform: uppercase;
  font-weight: 600;
}

.header--autopart .ps-form--quick-search button {
  background-color: var(--main-bg-color);
  color: #ffffff;
}

.header--autopart .ps-form--quick-search button:hover {
  cursor: pointer;
}

.header .header__content-left .menu--product-categories{
  display: none;
}

.header--autopart .menu--product-categories .menu__content {
  left: auto;
  /* right: -10px; */
  padding-top: 0;
}

.header--autopart .menu--product-categories .menu__content:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -7px;
  right: 30px;
  width: 16px;
  height: 16px;
  border-left: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.header--autopart .menu--product-categories .menu--dropdown > li:hover {
  background-color: #fff;
}

.header--autopart .menu--product-categories .menu--dropdown > li:hover a {
  color: var(--main-bg-color);
}

.header--autopart .menu--product-categories:hover .menu__content {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.header--autopart .header__extra span {
  background-color: var(--main-bg-color);
}

.header--autopart .header__extra span i {
  color: #ffffff;
}

.header--autopart .header__extra:hover > i {
  color: var(--main-bg-color);
}

.header--autopart .header__extra:hover span {
  color: var(--main-bg-color);
}

.header--autopart .menu > li > a {
  padding: 15px 20px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

.header--autopart .menu > li > a:hover {
  color: var(--main-bg-color);
}

.header--autopart .menu > li:first-child > a {
  padding-left: 0;
}

.header--autopart .navigation {
  background-color: var(--main-bg-color);
  border-top: 1px solid var(--main-bg-color);
}

.header--autopart.header--sticky .menu--product-categories .menu__toggle span {
  display: block;
}

.header--autopart.header--sticky .menu--product-categories .menu__content:before {
  right: auto;
  left: 55px;
}

.header--autopart.header--sticky .menu--product-categories:hover .menu__content {
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
}

.header--autopart.header--sticky .header__top {
  position: relative;
}

.header--autopart.header--sticky .header__content {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  background-color: #ffffff;
}

@media (max-width: 1199px) {
  .header--autopart {
    display: none;
  }
}

.header--mobile.autopart {
  background-color: #fff;
}

.header--mobile.autopart .ps-cart--mini {
  text-align: left;
}

.header--mobile.autopart .ps-search--mobile {
  background-color: var(--main-bg-color);
}

.header--mobile.autopart.header--sticky .navigation--mobile {
  background-color: #ffffff;
}

.navigation--list .navigation__item.active i, .navigation--list .navigation__item.active span, .navigation--list .navigation__item:focus i, .navigation--list .navigation__item:focus span, .navigation--list .navigation__item:active i, .navigation--list .navigation__item:active span, .navigation--list .navigation__item:hover i, .navigation--list .navigation__item:hover span {
  color: var(--main-bg-color);
}

.ps-panel--sidebar .ps-panel__header {
  background-color: var(--main-bg-color);
}

.ps-banner--autopart {
  position: relative;
}

.ps-banner--autopart h4 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #0098ce;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 20px;
}

.ps-banner--autopart h3 {
  font-size: 60px;
  line-height: 58px;
  font-weight: 700;
}

.ps-banner--autopart p {
  margin-bottom: 0;
  font-size: 16px;
  color: #666;
}

.ps-banner--autopart p strong {
  color: #000;
  font-weight: 500;
}

.ps-banner--autopart .ps-btn {
  margin-top: 20px;
  padding: 12px 24px;
}

.ps-banner--autopart .ps-banner__content {
  max-width: 1200px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 140px;
}

@media (max-width: 1680px) {
  .ps-banner--autopart h4 {
    margin-bottom: 10px;
  }
  .ps-banner--autopart h3 {
    font-size: 40px;
    line-height: 1.2em;
  }
}

@media (max-width: 1366px) {
  .ps-banner--autopart h4 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .ps-banner--autopart h3 {
    font-size: 40px;
  }
  .ps-banner--autopart h3 br {
    display: none;
  }
}

@media (max-width: 1199px) {
  .ps-banner--autopart {
    min-height: 400px;
  }
  .ps-banner--autopart img {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  .ps-banner--autopart .ps-banner__content {
    padding: 0 30px;
  }
}

@media (max-width: 479px) {
  .ps-banner--autopart h3 {
    font-size: 24px;
  }
  .ps-banner--autopart p {
    font-size: 12px;
  }
}

#homepage-2 a:hover {
  color: var(--main-bg-color);
}

#homepage-2 .ps-block--category-auto-part:hover {
  border-color: var(--main-bg-color);
}

#homepage-2 .ps-block--deal-hot {
  border-color: var(--main-bg-color);
}

#homepage-2 .ps-deal-hot {
  padding: 50px 0;
}

#homepage-2 .ps-product .ps-product__actions li a:hover {
  background-color: var(--main-bg-color);
}

#homepage-2 .ps-product .ps-product__actions li a:hover i {
  color: #ffffff;
}

#homepage-2 .ps-home-promotions {
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  #homepage-2 .ps-home-promotions {
    padding-bottom: 30px;
  }
}

@media (max-width: 479px) {
  #homepage-2 .ps-home-promotions {
    padding-bottom: 20px;
  }
}

#homepage-2 .ps-block--testimonial .ps-block__content i {
  color: var(--main-bg-color);
}

#homepage-2 .ps-block--site-features i {
  color: var(--main-bg-color);
}

#homepage-2 .ps-home-banner .owl-slider .owl-nav {
  left: 50%;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#homepage-2 .ps-home-banner .owl-slider .owl-nav > * {
  width: 48px;
  height: 48px;
}

 #homepage-2 .ps-site-features {
  border-top: 1px solid #e1e1e1;
}

#homepage-2 .ps-site-features .ps-block--site-features {
  padding: 15px 0;
  border-bottom: 1px solid #e1e1e1;
} 

#homepage-2 .ps-top-categories {
  padding: 70px 0 50px;
}

@media (max-width: 767px) {
  #homepage-2 .ps-top-categories {
    padding: 50px 0 30px;
  }
}

@media (max-width: 479px) {
  #homepage-2 .ps-top-categories {
    padding: 50px 0 30px;
  }
}

.navigation__extra > li a{
  color:#fff;
}

.menu--dropdown > li:hover {
  background-color: transparent;
}

.sub-menu > li > a:hover{
  color:var(--main-bg-color);
}

.header--standard .header__content{
  padding: 0px;
}

.ps-block--site-features .ps-block__left i, .widget_contact-us .widget_content h3{
  color: var(--main-bg-color);
}

.ps-form--account .ps-tab-list li a{
  font-size:25px;
}

#homepage-2 {
  padding: 30px 0;
  background-color: #eeeeee;
}

#homepage-2 .ps-home-banner .owl-slider .owl-item img {
  width: 100%;
}

#homepage-2 .ps-home-banner .syd-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

#homepage-2 .ps-home-banner .syd-container > * {
  width: 100%;
}

#homepage-2 .ps-home-banner .ps-section__left {
  position: relative;
  max-width: 270px;
  background-color: #ffffff;
}

#homepage-2 .ps-home-banner .ps-section__left .menu--dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
}

#homepage-2 .ps-home-banner .ps-section__left .menu--dropdown > li > a {
  line-height: 16px;
}

#homepage-2 .ps-home-banner .ps-section__left .mega-menu {
  z-index: 100;
  min-height: 100%;
}

#homepage-2 .ps-home-banner .ps-section__right {
  max-width: 100%;
  background-color: #ffffff;
}

#homepage-2 .ps-home-banner .ps-section__right img {
  width: 100%;
}

#homepage-2 .ps-home-banner .ps-section__right .owl-slider {
  max-width: 100%;
}



@media (max-width: 1199px) {
  #homepage-2 .ps-home-banner .ps-section__left {
    display: none;
  }
}

@media (max-width: 991px) {
  #homepage-2 .ps-home-banner .syd-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
  }
  #homepage-2 .ps-home-banner .syd-container .ps-section__center {
    max-width: 100%;
  }
  #homepage-2 .ps-home-banner .syd-container .ps-section__right {
    max-width: 100%;
  }
}

/* back to top */
#back2top{
  display:block;
  background-color:var(--main-bg-color);
}

#back2top i{
  color:#fff;
}

#back2top:hover i{
  color:#000;
}

.ps-form--account{
    max-width: none;
    padding-top: 0px;
}
.modal {
    z-index: 100001 !important;
}

.ps-contact-info{
  padding:30px 0;
}

.ps-page--blog .ps-page__header{
  padding:30px 0;
}
.highlighter{
    border-bottom:2px solid var(--main-bg-color);
    width:10%;
    margin:0px auto;
}

.ps-post{
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #bfbfbf;
}
.ps-post:hover {
  border: 1px solid var(--main-bg-color);
  -webkit-transition: all .4s ease;
  transition: all .4s ease
}
.ps-post .ps-post__thumbnail{
  height:230px;
}
.ps-post .ps-post__thumbnail img{
  height:100%;
}
.ps-post .ps-post__content p{
  color:inherit;
}


.zoom:hover {
  transform: scale(1.5);
  -webkit-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  cursor:pointer;
}

.locationInput{
  width: 200px;
}

@media (min-width: 992px){
  .ps-block--site-features.ps-block--site-features-2 .ps-block__item{
      max-width: 33.33%;
  }
}

.ps-product--detail .ps-product__sharing a{
  border-radius:50%;
}

.ps-post--small-thumbnail .ps-post__thumbnail{
  max-width:35%;
}

.defaultBg {
  background-color: var(--main-bg-color)!important;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 29px;
}